body {
    background: #308affe5;
    font: normal 18px arial;
}

.styletag {
    color: white;
    text-align: center;
}
header {
    font-family: Arial, Helvetica, sans-serif;
}

section {
    background: white;
    border-radius: 12px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px #0a0a0a88;
}

div {
    text-align: center;
    padding: 8px;
}

footer {
    font-style: italic;
}